
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

#drop-area.highlight {
    border-color: purple;
}

.my-form {
    margin-bottom: 10px;
}

#fileElem {
    display: none;
}

#drop-area .button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

#progressBar {
    width: 100%;
    margin-top: 20px;
}

#status {
    margin-top: 10px;
}
